body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.section {
    background: #fff;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.section:hover {
    transform: translateY(-5px);
}

.section-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    color: var(--primary-color);
}

.section-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h3 {
    font-size: 1.8em;
    margin-top: 30px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left; /* Change text alignment to left */
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 20px;
}

ul li {
    margin-bottom: 15px;
    line-height: 1.6;
}

ul li strong {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.intro, .conclusion {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: left; /* Change text alignment to left */
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .section {
        padding: 20px;
    }

    .section-title {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    p, .intro, .conclusion {
        font-size: 1em;
        line-height: 1.4;
        margin-bottom: 15px;
    }

    ul {
        padding-left: 15px;
    }

    ul li {
        margin-bottom: 10px;
        font-size: 1em;
    }
}
